// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
.head {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  //   height: 170px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  color: azure;
  font-family: cursive;
  background-color: rgb(65, 99, 211);
  p {
    margin: 5px;
    font-size: 18px;
  }
}
