<div class="container app-todos">
  <!-- <app-new-todo (newTodo)="addTodo($event)"></app-new-todo> -->

  <!-- <app-sort *ngIf="todoList.length != 0"></app-sort> -->

  <button type="button" class="btn btn-primary button" (click)="openModal()">
    Create new ToDo
  </button>

  <form>
    <div class="form-group">
      <input
        class="form-control"
        name="search"
        type="text"
        autocomplete="off"
        placeholder="Search..."
        [(ngModel)]="search"
      />
    </div>
  </form>

  <app-sort></app-sort>
  <ul *ngIf="todoList">
    <app-todo-item
      *ngFor="let item of todoList | filterTodo: search"
      [todo]="item"
      (delete)="deleteTodo($event)"
      (update)="updateTodo($event)"
    ></app-todo-item>
  </ul>
  <div class="button2">
    <button type="button" class="btn btn-primary" (click)="openModal()">
      Create new ToDo
    </button>
  </div>

  <div class="text-center noData" *ngIf="!todoList || todoList.length == 0">
    No Data.
  </div>
</div>
