<h2 class="text-center">About 2do project.</h2>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
  recusandae ex praesentium. Culpa dolores aperiam nesciunt sint veritatis
  mollitia vero vitae quas, omnis fugiat quo voluptatum illo temporibus ipsum
  aliquid.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo rerum culpa
  voluptatibus debitis at sapiente a ipsum modi aliquam error. Ad, voluptatibus
  tenetur! Omnis soluta, facere delectus inventore autem voluptas.
</p>
