* {
  box-sizing: border-box;
}
.is-done {
  text-decoration: line-through;
}
.del {
  background-color: red;
  border-color: red;
  margin-left: 10px;
}
.details {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);
}
.blok {
  background-color: rgba(192, 192, 192, 0.7);
  border-color: rgba(192, 192, 192, 0.74);
}
li {
  list-style: none;
}
h4 {
  margin: 0;
}
.name {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 400;
}
.button {
  text-align: right;
  margin-right: 5px;
}
p {
  font-size: 16px;
  font-weight: 400;
  // transition: 2s;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
