<li>
  <header>
    <div>
      <span class="material-icons" (click)="toggleTodo()">
        {{ todo.isDone ? "check_box" : "check_box_outline_blank" }}
      </span>
      <span class="name" [class.is-done]="todo.isDone" appHighlight>{{
        todo.title
      }}</span>
    </div>
    <div class="button">
      <span class="priority text-center">{{ todo.priority }}</span>
      <button class="mr-2 btn btn-primary">
        Update
      </button>
      <button
        *ngIf="!todo.isDone"
        (click)="toggleDetails()"
        class="btn btn-primary details"
      >
        Show/hide details
      </button>
      <button *ngIf="todo.isDone" class="details blok btn btn-primary">
        Show/hide details
      </button>
      <button class="del btn btn-primary" (click)="deleteTodo(todo.id)">
        DELL
      </button>
    </div>
  </header>
  <div *ngIf="isShowDetails">
    <p>{{ todo.description }}</p>
  </div>
  <hr />
</li>
