<div class="row">
  <div class="col">
    <div class="card" style="width: 14rem;">
      <img
        src="https://randomuser.me/api/portraits/men/16.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Tony</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a routerLink="1" class="btn btn-primary">More details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 14rem;">
      <img
        src="https://randomuser.me/api/portraits/men/55.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Leny</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a routerLink="2" class="btn btn-primary">More details</a>
      </div>
    </div>
  </div>
</div>
