* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-about {
    display: flex;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .active a {
        color: red;
    }
    a {
        display: block;
        padding: 12px 24px;
        color: rgb(139, 118, 118);
        &:hover {
            color: magenta;
        }
    }
}
.nav {
    padding: 24px 0;
    border-right: 1px solid rgb(139, 118, 118);
    width: 150px;
}
