.app-new-todo {
  margin: 5px;
}
.save {
  text-align: right;
  margin-top: 16px;
  padding-left: 10px;
}
.error {
  color: red;
  padding-top: -18px;
  margin-right: 10px;
  height: 0px;
}
.errors {
  height: 60px;
}
.textarea {
  margin-bottom: 30px;
}
.bd-red {
  border-color: red;
  color: red;
}
.btn-primary {
  width: 64px;
}
