.app-new-todo {
  margin: 5px;
}
.save {
  text-align: right;
  margin-top: 16px;
}
.error {
  color: red;
  margin-top: 5px;
  margin-right: 10px;
}
.errors {
  height: 60px;
}
.textarea {
  height: 100px;
}
.bd-red {
  border-color: red;
  color: red;
}
